.white-bg{
    height: auto;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #4b4747c5 0%, #000000 100%);
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    font-weight: bold;
}
.col-md-7{
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
}
.col-md-5{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.smartphone{
    margin-top: 100px;
    margin-bottom: 100px;
}
.smartphone h3{
    padding-bottom: 50px;
}