.white-bg{
    height: auto;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    font-weight: bold;
}
.col-md-7{
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}
.col-md-5{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    align-content: center;
}
.smartphone{
    margin-top: 100px;
    margin-bottom: 100px;
}
.smartphone h3{
    padding-bottom: 50px;
}
.laptop{
    margin-top: 100px;
    margin-bottom: 100px;
}
.laptop h3{
    padding-bottom: 50px;
}
.card button{
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
    margin-left: 85px;
}